@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Bodoni:ital@1&family=Merriweather:ital,wght@1,300&family=Raleway:wght@300&family=Roboto+Serif:wght@100;300&family=Zen+Antique&display=swap');

// .input[type="text"] {
//   background: #f5f5f5;
//   border: 1px solid #CE9461;
//   font-size: 1.1rem;
//   margin: 4% 9%;
//     margin-top: 4%;
//   margin-top: 10px;
//   outline: none;
//   padding: .25rem;
//   transition: all .4s ease-out;
//   width: 50%;
//   }
input {
	position:relative;
	font-size: 1.5em;
	background: linear-gradient(21deg, #CE9461, #FCFFE7);
	padding: 3px;
	display: inline-block;
	border-radius: 9999em;
  margin: 2% 8%;
  width: 50%;
}
.btn-go{
  padding: 7px;
  margin-left: -58px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  trasnition: 0.5s;
  background-color: #DEB6AB;
  border: 1px solid red;
  &:hover {
    color: #FCFFE7;
    border: 1px solid transparent;
    background: red ; 
    background-size: 180px;
    animation: animate 0.8s steps(8) forwards;
  }
  &:last-of-type {
    border: 1px solid #85586F;
    &:hover {
      background: #85586F; 
    }
  }
}
.methods span {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    cursor: pointer;
    margin-right: 2rem;
    padding: .25rem .5rem;
  }
textarea {
    width: 300px;
    height: 200px;
    margin-top: 46px;
  }
.textareaLabel{
  margin-top: 28px;
}
.title{
  font-size: 25px;
  font-family: 'Libre Bodoni', serif;
  margin-left: 20px;
  color: #DEA057;
}  
