$backgroundColor: #E0D8B0;
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Libre+Bodoni:ital@1&family=Merriweather:ital,wght@1,300&family=Raleway:wght@300&family=Roboto+Serif:wght@100;300&family=Zen+Antique&display=swap');

body{
 background-color: $backgroundColor;
 font-family: 'Libre Bodoni', serif;
}

