.main-h1{
    background-color: black;
    color: white;
    margin-bottom: -16px;
    text-align: center;
    margin-top: 0;
}
.nav-nav{
    background-color: #550202;
    color: white;
}

.nav-link{
    color: white;
}
li{
    list-style: none;
    margin-left: 10px;
    padding: 10px;
}
.input[type="text"] {
    background: #f5f5f5;
    border: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: medium;
    border-bottom: 1px solid #000;
    font-size: 1.1rem;
    margin: 0;
    margin-top: 10px;
    outline: none;
    padding: .25rem;
    transition: all .4s ease-out;
    width: 80%;
  }

  .methods span {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    cursor: pointer;
    margin-right: 2rem;
    padding: .25rem .5rem;
  }

  .footer-div{
      background-color: #000;
      color: white;
      text-align: center;
  }